body {
  background-image: url('https://r1.ilikewallpaper.net/iphone-wallpapers/download/35316/World-Map-Travel-Plans-Camera-Coffee-iphone-wallpaper-ilikewallpaper_com.jpg');
  background-attachment: fixed;
  background-size:cover;
}

.container{
  background-color: rgba(0, 0, 0, 0.479);
}

